/*--------------------------------------------------------------
# Block: Mission Statement
--------------------------------------------------------------*/

.mission-statement {
    color: white;
    border-radius: .5rem;
    background-color: $teal-dark;

    h3 {
        color: white;
        text-align: center;
    }
}