/*--------------------------------------------------------------
# Block: Mission Statement
--------------------------------------------------------------*/

.mission-statement {
    color: white;
    width: 100vw;
    margin-left: calc((100vw - 800px) / -2);
    background-color: #013940;

    h3 {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }
}