/*--------------------------------------------------------------
# Block: Project Overview
--------------------------------------------------------------*/

div.project-overview {

    &-item {
        padding: 1rem 0;
        
        &:not(:last-child) {
            border-bottom: 1px solid $gray;
        }

        &-heading {
            display: flex;
            align-items: center;
            padding-left: 0;
        }

        &-text {
            
            ul, p {
                margin-bottom: 0
            }

            ul li {
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}