/*--------------------------------------------------------------
# Define colors
--------------------------------------------------------------*/

// Colors
$primary: #007D8C;
$primary-light: #16C5D9;
$primary-dark: #007D8C;
// $primary: #bc0808;
$secondary: #BC0808;
$secondary-light: #F23333;
$secondary-dark: #5C0808;
// $secondary: #e53600;
$tertiry: #F9F29D;
$red-dark: #5c0808;
$darkness: #1d1d1d;
$grey: #686868;
$gery-light: #eaeaea;
$yellow: #e9deaa;