# Ignore everything at the root except the "wp-content" directory & other important root items
/*
!.github
!.gitignore
!wp-content/
!README.md

# Ignore everything except plugins and themes
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore all but necessary plugins
wp-content/plugins/*

# Ignore everything in themes except the base theme
wp-content/themes/*
!wp-content/themes/dwd