# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore everything
*

# Except for specific files and directories
!README.md
!robots.txt
!wp-content/

# Ignore everything except plugins and themes
wp-content/jetpack-waf/
wp-content/mu-plugins/
wp-content/upgrade/
wp-content/upgrade/
wp-content/uploads/
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in plugins and themes that is not theme specific
!wp-content/themes/dwd/
!wp-content/themes/dwd/**/*
!wp-content/plugins/dwd-blocks/
!wp-content/plugins/dwd-blocks/**/*
!wp-content/plugins/dwd-user-dash/
!wp-content/plugins/dwd-user-dash/**/*

# But still ignore the compiled files
**/node_modules/
**/build/
**/old-site-files/
**/.DS_Store