# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore everything
*

# Except for specific directories or files
!README.md
!robots.txt
!wp-content/themes/dwd/
!wp-content/themes/dwd/**/*
!wp-content/plugins/dwd-blocks/
!wp-content/plugins/dwd-blocks/**/*

# But still ignore the following in each directory
**/node_modules/
wp-content/themes/dwd/**/build/
wp-content/themes/dwd-blocks/**/build/

git rm -r --cached wp-content/plugins/dwd-blocks/node_modules/
git rm -r --cached wp-content/plugins/dwd-blocks/build/