/*
* Custom styles for portfolio site
*/
/* line 4, ../sass/dwd-styles.scss */
body {
  background-color: #ffffff !important;
  font-family: 'Helvetica', sans-serif !important;
  margin: 0 !important;
  height: 100vh !important;
  color: #1d1d1d !important;
  font-size: 18px !important;
}

/* line 13, ../sass/dwd-styles.scss */
::selection {
  color: white !important;
  background: #bc0808 !important;
}

@media screen and (max-width: 805px) {
  /* line 18, ../sass/dwd-styles.scss */
  #dwd {
    margin: 0 1em;
  }
}
/* line 25, ../sass/dwd-styles.scss */
#dwd img {
  width: 100%;
  margin: 1em 0;
  height: auto;
}
/* line 31, ../sass/dwd-styles.scss */
#dwd a {
  text-decoration: none;
  color: #bc0808;
}
/* line 36, ../sass/dwd-styles.scss */
#dwd .wp-social-link a {
  color: white;
}
/* line 40, ../sass/dwd-styles.scss */
#dwd p {
  line-height: 1.75em;
  margin: 2em 0;
}
/* line 45, ../sass/dwd-styles.scss */
#dwd h1, #dwd h2, #dwd h3 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
/* line 50, ../sass/dwd-styles.scss */
#dwd blockquote {
  padding-left: 24px;
  border-left: 5px solid #555555;
}
/* line 55, ../sass/dwd-styles.scss */
#dwd .col-lg-6 {
  display: flex;
  align-items: center;
}
/* line 60, ../sass/dwd-styles.scss */
#dwd .hide {
  display: none;
}
/* line 64, ../sass/dwd-styles.scss */
#dwd .show {
  display: inline-block;
}
/* line 68, ../sass/dwd-styles.scss */
#dwd .navbar-header {
  display: none;
}
/* line 72, ../sass/dwd-styles.scss */
#dwd .dwd-header {
  justify-content: flex-start;
}
@media screen and (max-width: 800px) {
  /* line 72, ../sass/dwd-styles.scss */
  #dwd .dwd-header {
    justify-content: center;
  }
}
/* line 80, ../sass/dwd-styles.scss */
#dwd .masthead {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 9999;
}
@media screen and (max-width: 800px) {
  /* line 80, ../sass/dwd-styles.scss */
  #dwd .masthead {
    margin: 0 -1em;
  }
}
/* line 93, ../sass/dwd-styles.scss */
#dwd .masthead .container {
  max-width: 1200px;
}
/* line 97, ../sass/dwd-styles.scss */
#dwd .masthead a {
  transition: all .5s ease;
  color: #bc0808;
}
/* line 102, ../sass/dwd-styles.scss */
#dwd .masthead a:hover {
  opacity: 0.5;
}
/* line 106, ../sass/dwd-styles.scss */
#dwd .masthead .site-heading a {
  font-family: 'Baskerville', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.25em;
}
/* line 114, ../sass/dwd-styles.scss */
#dwd .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}
@media screen and (max-width: 800px) {
  /* line 114, ../sass/dwd-styles.scss */
  #dwd .navbar-nav {
    justify-content: center;
  }
}
/* line 122, ../sass/dwd-styles.scss */
#dwd .navbar-nav a {
  margin: 0 .45em;
  padding: 8px;
}
/* line 128, ../sass/dwd-styles.scss */
#dwd .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 133, ../sass/dwd-styles.scss */
#dwd .row .gy-5 {
  margin: 2em 0;
}
/* line 138, ../sass/dwd-styles.scss */
#dwd .container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/* line 144, ../sass/dwd-styles.scss */
#dwd .has-large-font-size {
  font-size: 1em;
}
/* line 148, ../sass/dwd-styles.scss */
#dwd .page-title {
  display: none;
}
/* line 152, ../sass/dwd-styles.scss */
#dwd .col-md-12 {
  margin: 2em 0;
}
/* line 156, ../sass/dwd-styles.scss */
#dwd .page_anchor {
  display: none;
}
/* line 160, ../sass/dwd-styles.scss */
#dwd .home_header {
  max-width: 800px;
  margin: 3em auto 0 auto;
}
/* line 165, ../sass/dwd-styles.scss */
#dwd .folio_header {
  height: 45vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
/* line 174, ../sass/dwd-styles.scss */
#dwd .folio_header .folio_header_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 182, ../sass/dwd-styles.scss */
#dwd .folio_header .folio_header_inner h2 {
  color: white;
  text-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 9999;
}
/* line 191, ../sass/dwd-styles.scss */
#dwd .folio_section {
  max-width: 800px;
  margin: 5em auto;
}
/* line 196, ../sass/dwd-styles.scss */
#dwd .folio_highlight {
  background: #eaeaea;
  padding: 2.5em;
}
/* line 203, ../sass/dwd-styles.scss */
#dwd .folio_snippet h3 {
  width: 100%;
}
/* line 207, ../sass/dwd-styles.scss */
#dwd .folio_snippet .snippet_display {
  padding: 2em .5em;
}
/* line 212, ../sass/dwd-styles.scss */
#dwd form input {
  padding: 8px;
  border: .5px black solid;
}
/* line 217, ../sass/dwd-styles.scss */
#dwd form textarea {
  padding: 8px;
  border: .5px black solid;
}
/* line 222, ../sass/dwd-styles.scss */
#dwd form input[type=text] {
  width: 100%;
  margin: .5em 0;
  background: transparent;
  border: .5px #1d1d1d solid;
}
/* line 229, ../sass/dwd-styles.scss */
#dwd form textarea {
  width: 100%;
  margin: .5em 0;
  background: transparent;
  border: .5px #1d1d1d solid;
}
/* line 237, ../sass/dwd-styles.scss */
#dwd form input[type=submit] {
  float: right;
  background: transparent;
  padding: 1em 3em;
  border: .5px #1d1d1d solid;
  transition: all .5s ease;
}
/* line 245, ../sass/dwd-styles.scss */
#dwd form input[type=submit]:hover {
  color: white;
  background: black;
}
/* line 250, ../sass/dwd-styles.scss */
#dwd .wpforms-form button[type="submit"] {
  background-color: #bc0808;
  border: 0 none;
  border-radius: 4px;
  color: white;
  float: right;
  transition: all .5s ease;
}
/* line 259, ../sass/dwd-styles.scss */
#dwd .wpforms-form button[type="submit"]:hover {
  background: #1d1d1d;
}
/* line 263, ../sass/dwd-styles.scss */
#dwd .overlay-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
}
/* line 273, ../sass/dwd-styles.scss */
#dwd .highlight_green {
  color: #08bc3b;
}
/* line 277, ../sass/dwd-styles.scss */
#dwd .wp-block-columns {
  margin-bottom: 0;
}
/* line 283, ../sass/dwd-styles.scss */
#dwd .wp-block-buttons a {
  background: #bc0808;
  padding: 8px 16px;
  color: white;
  transition: all .5s ease;
}
/* line 289, ../sass/dwd-styles.scss */
#dwd .wp-block-buttons a:hover {
  background: #000000;
}
/* line 294, ../sass/dwd-styles.scss */
#dwd .wp-block-button__link {
  border-radius: 4px;
}
/* line 298, ../sass/dwd-styles.scss */
#dwd .circle-frame {
  border-radius: 50%;
}
