#profile-contents {
    padding-bottom: 2rem;
}

#app.app #profile-contents h1 {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    
    #app.app #profile-contents h1 {
        margin-bottom: 3rem;
    }
}

#profile-contents .logout-links {
    padding: .25rem 0;
    display: flex;
    justify-content: space-between;
}

#profile-contents .logout-links a {
    text-decoration: underline;
}

@media (min-width: 992px) {
    
    #profile-contents .logout-links a:first-child {
        padding-left: 0;
    }
}

#profile-contents-form-container {
    color: #fefefe;
}

@media (min-width: 992px) {
    
    #profile-contents-form-container {
        padding: 2rem 0;
    }
}

#loggy-woggy #profile-contents-form-container .form-inputs {
    align-items: unset;
}

form.profile-settings-form {
    font-size: 1.25rem;
}

form.profile-settings-form label {
    font-weight: 700;
}

form.profile-settings-form .profile-settings-item {
    margin-bottom: 2rem;
}

form.profile-settings-form .profile-settings-item-label {
    margin-bottom: .5rem;
}