/*--------------------------------------------------------------
# Define base typography
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: century-gothic, sans-serif;
    font-style: normal;
}

h1, h2 {
    font-weight: 700;
    color: $gray;
}

p {
    letter-spacing: -.015rem;
}