/*--------------------------------------------------------------
# Define base typography
--------------------------------------------------------------*/

html {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: century-gothic, sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: -0.1px;
    margin: 0;
}

h1, h2 {
    font-weight: 700;
    color: $gray;
}

h1 {
    font-size: 3rem;
    @include breakpoint(md) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2.25rem;
    @include breakpoint(md) {
        font-size: 3rem;
    }
}

h3 {
    font-size: 1.75rem;
    @include breakpoint(md) {
        font-size: 2.25rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1.5;
}