/*--------------------------------------------------------------
# Define base typography
--------------------------------------------------------------*/

html {
    font-size: 18px;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: $gray;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'century-gothic', sans-serif;
    font-style: normal;
    letter-spacing: -0.5px;
    color: $gray-dark;
}

h1, h2 { 
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    margin: 1rem auto 1.5rem auto;
    @include breakpoint(md) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2.25rem;
    margin: 1rem auto;
    @include breakpoint(md) {
        font-size: 3rem;
    }
}

h3 {
    margin: 1.5rem auto 1rem;
    font-size: 1.5rem;
    @include breakpoint(md) {
        font-size: 2rem;
    }
}

h4 {
    margin: .5rem auto .1rem;
    font-size: 1rem;
}

p {
    margin: 0 auto 1rem auto;
}

strong {
    color: $gray-dark;
}