/*--------------------------------------------------------------
# Define colors
--------------------------------------------------------------*/

// Colors
$teal: #007D8C;
$teal-light: #16C5D9;
$teal-dark: #013940;
$red: #BC0808;
$red-light: #F23333;
$red-dark: #5C0808;
$yellow: #F9F29D;
$yellow-light: #e9deaa;
$gray: #686868;
$gray-light: #F3F4E9;
$gray-dark: #333333;
$black: #1d1d1d;

