/*--------------------------------------------------------------
# Define structure
--------------------------------------------------------------*/

// Number values
$screen-width: 100vw;
$content-width: 800px;

// Breakpoints
$breakpoint--xs:                            400px;
$breakpoint--sm:                            576px;
$breakpoint--md:                            768px;
$breakpoint--content:                       $content-width;
$breakpoint--lg:                            992px;
$breakpoint--xl:                            1200px;
$breakpoint--xxl:                           1400px;

$breakpoints: (
    'xs':                                   (min-width: $breakpoint--xs),
    'sm':                                   (min-width: $breakpoint--sm),
    'md':                                   (min-width: $breakpoint--md),
    'content':                              (min-width: $breakpoint--content),
    'lg':                                   (min-width: $breakpoint--lg),
    'xl':                                   (min-width: $breakpoint--xl),
    'xxl':                                  (min-width: $breakpoint--xxl),
);
 
$breakpoints-max: (
    'xs':                                   (max-width: $breakpoint--xs - 1),
    'sm':                                   (max-width: $breakpoint--sm - 1),
    'md':                                   (max-width: $breakpoint--md - 1),
    'content':                              (max-width: $breakpoint--content - 1),
    'lg':                                   (max-width: $breakpoint--lg - 1),
    'xl':                                   (max-width: $breakpoint--xl - 1),
    'xxl':                                  (max-width: $breakpoint--xxl - 1),
);

// Spacing
$spacing--xs:                               5px;
$spacing--sm:                               15px;
$spacing--md:                               30px;
$spacing--lg:                               60px;
$spacing--xl:                               90px;
$spacing--xxl:                              120px;

$spacing: (
    'xs':                                   $spacing--xs,
    'sm':                                   $spacing--sm,
    'md':                                   $spacing--md,
    'lg':                                   $spacing--lg,
    'xl':                                   $spacing--xl,
    'xxl':                                  $spacing--xxl,
);

$spacer:                                    1rem;
$spacing--0:                                0;
$spacing--1:                                $spacer * .25;
$spacing--2:                                $spacer * .5;
$spacing--3:                                $spacer;
$spacing--4:                                $spacer * 1.5;
$spacing--5:                                $spacer * 3;

$spacing: (
    '0':                                    $spacing--0,
    '1':                                    $spacing--1,
    '2':                                    $spacing--2,
    '3':                                    $spacing--3,
    '4':                                    $spacing--4,
    '5':                                    $spacing--5
);

$container--width-xs:                      400px;
$container--width-sm:                      576px;
$container--width-md:                      768px;
$container--width-lg:                      992px;
$container--width-xl:                      1200px;
$container--width-xxl:                     1400px;

$grid-gutter-width:                        30px !default;