
// Screen sizes
$desktop-2x: 'min-width : 1600px';
$desktop-xl: 'min-width : 1400px';
$desktop-lg: 'min-width : 1200px';
$desktop: 'min-width : 992px';
$ipad: 'min-width : 768px';
$tablet: 'min-width : 530px';
$mobile: 'min-width: 0px';

// Colors
$primary: #bc0808;
$secondary: #e53600;
$red-dark: #5c0808;
$darkness: #1d1d1d;
$grey: #686868;
$gery-light: #eaeaea;
$yellow: #e9deaa;