/*--------------------------------------------------------------
# Page Content
--------------------------------------------------------------*/


body.page {

    .page-content {
    
        .page-title {
    
            h1 {
                max-width: 800px;
                margin: 0 auto;
            }
        }
    
        .the-content {
            margin: 2rem auto;
    
            h2 {
                font-weight: 700;
                letter-spacing: 0;
            }
            
            a {
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: .45;
                }
            }
        }
    }

    &:not(.home) .page-content {

        h1 {
            font-family: 'baskerville', serif;
            font-style: italic;
        }

        .the-content {
            
            & > h2, & > .wp-block-columns h2 {
                color: $teal-dark;
                margin: 2rem 0 3rem;
                padding: .25rem 0;
                border-radius: 5rem;

                strong {
                    color: $teal-dark;
                }
                
                &:after {
                    content: '';
                    display: block;
                    height: 6px;
                    width: 100%;
                    border-radius: 10px;
                    background-image: linear-gradient(30deg, $teal-dark, $teal);
                }
            }

            .wp-block-columns {
                margin-top: 2rem;
            }
        }
    }
}
