/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

footer {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .container {
        max-width: 800px;
        margin: auto;

        .col-12 {
            padding: 0;
        }

        ul.social-nav {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            padding-top: 2rem;
            padding-left: 0;
            max-width: 100%;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: .25rem;
                background: linear-gradient(35deg, $teal-dark, $teal);
            }

            li {
                padding: 0 .5rem;
                margin: 0;
                @include breakpoint(md) {
                    padding: 0 2rem;
                }

                a {
                    @extend .century-gothic-bold;
                    color: $gray-dark;
                    padding: 12px;
                    text-decoration: none;
                    position: relative;
                    transition: all .4s ease;

                    &:after {
                        content: '';
                        display: flex;
                        position: absolute;
                        right: 6px;
                        bottom: 0;
                        left: 6px;
                        height: 4px;
                        opacity: 0;
                        background-color: $red;
                        transition: all .2s ease;
                    }

                    &:hover {
                        
                        &:after {
                            bottom: 4px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
} 