/*--------------------------------------------------------------
# Define main structure
--------------------------------------------------------------*/

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden !important;
    background-color: $gray-light;
    z-index: 0;

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.45);

        &.hide {
            display: none;
        }
    }
}

main#index-main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    & > * {
    
        &:not(.full-width) {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        &.full-width {
            width: 100%;

            & > div {
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

img {
    height: auto;
    max-width: 100%;
}