/*--------------------------------------------------------------
# Normalise
--------------------------------------------------------------*/

html {
    font-size: 18px;
}

body {
    @extend .baskerville;
    color: $gray-type;
}

::selection {
    color: white;
    background: $primary;
}
